---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="wrapper">
      
        <div style="display:block; width:100%;">
          
          <div style="width:30%; float: left; display: inline-block;" align="center">
            
            <div>
              <img class="circular--square" src="img.jpg" width="70%" align="center">
            </div>
            
            <br>
            
            <div style="float:center;" align="center">

              <li style="list-style-type:none;">
                <a itemprop="sameAs" href="mailto:luca.brigadavilla@unibg.it">
                  <i class="fas fa-envelope fa-lg" style="color:#808080"></i>
                </a>
              
                <a itemprop="sameAs" href="https://twitter.com/bavagliladri">
                  <i class="fab fa-twitter fa-lg" style="color:#808080"></i>
                </a>
              
                <a itemprop="sameAs" href="https://github.com/bavagliladri">
                  <i class="fab fa-github  fa-lg" style="color:#808080"></i>
                </a>
                
                <a itemprop="sameAs" href="https://t.me/bavagliladri">
                  <i class="fab fa-telegram fa-lg" style="color:#808080"></i>
                </a>
              </li>
      
            </div>
          </div>
          
          <div style="width:70%; float: center; display: inline-block;">
            {{ content }}
          </div>
        
        </div>
        
      </div>


  </div>
